.timezoneListContainer {
  display: flex;
  justify-content: space-around;
}

.timezonelist-component {
  flex: 1;
  max-width: 300px;
  word-wrap: break-word;
  text-align: center;
  padding: 0 10px;

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.timezonelist-component__header {
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}

.timezonelist-component__list {
  li {
    display: inline-block;
    margin: 10px;
  }
}
